header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #ff0000;
  color: #ffffff;
}

.logo {
  width: 1vw;
  height: auto;
  border-radius: 50%;
  margin-top: 1rem;
}
