body{
  background-image: url("../public/pokemon-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(163, 22, 22);
  font-family: 'Times New Roman';
  font-size: larger;
}
.Pesquisa {
  margin-left: 26vw;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: rgb(211, 204, 204);
  width: 49vw;
  filter: opacity(85%);
  align-items: center;
  text-align: center;
  padding: 10px;
}

input {
  width:25vw;
  height:2vw;
  background-color: rgb(211, 204, 204);
}

button {
  background-color: rgb(240, 240, 92);
  margin-top: 10px;
  margin-left: 5px;
}